.CountryDetailPage {
  display: flex;
  justify-content: center;
  margin: 4em;

  img {
    margin: 4em;
    width: 40%;
    height: 25em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .country-info {
    margin: 4em;
    padding:2em;
    font-size: 16px;
   
    justify-content: left;
    .country-name {
      font-size: 32px;
      font-weight: 800;
      margin-left: 0.5em;
    }

    .country-details{
      padding-top:2em;
      margin-left: 0.5rem;
    }

    .border-countries{
      margin-left: 1em;
    }

    strong {
      font-weight: 800;
    }

    p {
      margin: 0.5rem;
    }
    span {
      padding-left: 0.2em;
    }
  }
}
